

.pokemonImage img  {
  width: 12.361vw;
}

.pokemon {
  
  width: 23vw;
  height: 32vw;
  margin-bottom: 3vw;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("../assets/card-template.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(20px);
}

.pokemonName p {
  color: black;
  font-weight: 700;
  font-size: 24px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f32121;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.captured-container {
margin-bottom: 3.5vw;
display: flex;
flex-direction: column;
align-items: center;
}


.captured-font {
  font-family: "pokemon" !important;
  color: black;
  font-weight: 800;
}


.captured-container p{
  font-family: "pokemon-hollow";
  color: black;
  font-weight: 800;
}