.poke-search {
  display:inline-block;
  padding:10px;
  border:2px solid #333;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 16px;
  color: #333;
  width: 300px;
  max-width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.pokemon-types-container {
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 20px;
}
.pokemon-types-container::-webkit-scrollbar {
  display: none;
}
.pokemon-types-container::-webkit-scrollbar:hover {
  display: block;
}


/* Hide scrollbar for IE, Edge and Firefox */
.pokemon-types-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.type-icons-btns img {
  width: 80px;
 
}
.type-icons-btns {
  background-color: transparent;
  border: 0;

}