.navbar-container {
    width: 100%;
    height: 70px;
    background-color: #B30000;
    flex-direction: row;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.pokedex-logo {
  margin-left: 40%;
}